.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 4px;
  max-width: 600px;
  width: 90%;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
  display: block;
}

.modal-container.visible {
  opacity: 1;
  visibility: visible;
}

form {
  width: 100%;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button[type="submit"],
button[type="button"] {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"] {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  display: inline-block;
  margin-right: 5px;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 4px;
}

li:hover {
  cursor: pointer;
}

textarea {
  height: 100px;
}

select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

option {
  padding: 5px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  /* Additional styles for the close icon */
}

.close-icon:hover {
  color: #ff0000; /* Adjust the hover color as desired */
}

#tags {
  width: 70%;
}


#tag-button {
  margin-left: 20px;
  margin-bottom: 15px;
}

#title {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 24px;
}
