<div class="modal-container">
  <label id="title">Добави ново събитие</label>
  <div class="close-icon">
    <i class="nc-icon nc-simple-remove" (click)="close()"></i>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Име:</label>
      <input type="text" id="name" name="name" [(ngModel)]="event.name" required>
    </div>

    <div>
      <label for="start-date">Начало:</label>
      <input type="datetime-local" id="start-date" name="start-date" [(ngModel)]="event.startDate" required>
    </div>

    <div>
      <label for="end-date">Край:</label>
      <input type="datetime-local" id="end-date" name="end-date" [(ngModel)]="event.endDate" required>
    </div>

    <div>
      <label for="venue">Локация на събитието:</label>
      <select id="venue" name="venue" [(ngModel)]="selectedVenue" (change)="onVenueChange($event)">
        <option value="" disabled selected>Избери локация за твоето събитие</option>
        <option *ngFor="let venue of venues" [value]="venue.name">{{ venue.name }}</option>
      </select>
      <button class="btn btn-primary btn-block" type="button" (click)="openAddEventClick($event)">Добави нова локация</button>
    </div>

    <div>
      <label for="description">Описание:</label>
      <textarea id="description" name="description" [(ngModel)]="event.description" required></textarea>
    </div>

    <div>
      <label for="tags">Тагове:</label>
      <input type="text" id="tags" name="tags" [(ngModel)]="tagInput" (keydown.enter)="$event.preventDefault(); addTag()">
      <button class="btn btn-primary" type="button" (click)="addTag()" id="tag-button">Добави таг</button>
      <ul>
        <li *ngFor="let tag of event.tags" (click)="removeTag(tag)">{{ tag.name }}
        </li>
      </ul>
    </div>

    <button class="btn btn-primary btn-block" type="submit">Добави събитие</button>
  </form>

  <add-event-venue *ngIf="showAddVenue" (closeAddVenue)="closeAddVenue()" (refreshMainModal)="onAddVenueRefresh()" [caller]="'add-event'"></add-event-venue>
</div>


