<div class="col-lg-3 col-md-6 col-sm-6" class="event-box">
  <div class="card card-stats">
    <div class="card-body ">
      <div class="row" id="test1">
<!--        <div class="col-5 col-md-4">-->
<!--          <div class="icon-big text-center icon-warning">-->
<!--            <i class="nc-icon nc-globe text-warning"></i>-->
<!--          </div>-->
<!--        </div>-->
        <div class="col">
          <div class="numbers" id="test2">
            <p class="card-category">{{ date | dateTransformer:'dd/MM/yyyy' }}</p>
            <p class="card-title">{{title}}<p>
            <p class="card-pricing">15лв. - 50лв.<p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer ">
      <hr>
      <div class="stats">
        {{venueName}}
      </div>
    </div>
  </div>
</div>
