<div class="event-container">
  <div class="event-box">
    <div class="event-header">
      <h1>{{ event.name }}</h1>
      <p>{{ event.startDate | date: 'dd.MM.yyyy, HH:mm' }} - {{ event.endDate | date: 'dd.MM.yyyy, HH:mm' }}</p>
      <p>
        <i class="nc-icon nc-pin-3"></i>
        {{ event.venue.name }}
      </p>
    </div>
    <div class="event-tags-container">
      <ul class="event-tags">
        <li *ngFor="let tag of event.tags">{{ tag.name }}</li>
      </ul>
    </div>
    <div class="details">
      <h3>Описание: </h3>
      <p>{{ event.description }}</p>
    </div>
    <div class="details">
      <h3>Информация за мястото: </h3>
      <p>{{ event.venue.description }}</p>
      <!-- Include other venue details as needed -->
    </div>
  </div>
</div>
