<form>
  <div class="container">
    <div class="input-group no-border">
      <input type="text" value="" class="form-control" placeholder="Търси...">
      <div class="input-group-append">
        <div class="input-group-text">
          <i class="nc-icon nc-zoom-split"></i>
        </div>
      </div>
    </div>
    <div id="test">
      <button class="btn btn-primary btn-block" type="submit" (click)="showModalFunction()">Добави</button>
    </div>
  </div>
</form>

<div class="event-container">
  <div *ngFor="let event of events">
    <event-card [id]="event.id" [title]="event.name" [date]="event.startDate" [venueName]="event.venue.name" (click)="redirectToEvent(event.id)"></event-card>
  </div>
</div>

<div class="modal-wrapper">
  <add-event *ngIf="showModal" (closeModal)="hideModal()" (refresh)="onChildRefresh()" (openExtension)="openExtension()"></add-event>
<!--  <add-event-venue *ngIf="isExtensionVisible" (addEventWithExtension)="addEventWithExtension($event)"></add-event-venue>-->
</div>

