.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-box {
  flex-basis: 25%;
  max-height: 200px;
  overflow: hidden;
}

.container {
  display: flex;
  align-items:  center;
}

#add-new {
  margin-left: 10px;
  margin-bottom: 10px;
}

#show-my-events-text {
  margin-right: 10px;
}

.my-events-container {
  display: flex;
  align-items: center;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.toggle-input {
  display: none;
}

.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border-radius: 30px;
  background-color: #ccc;
  transition: background-color 0.3s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s;
}

.toggle-input:checked + .toggle-slider {
  background-color: #2196F3;
}

.toggle-input:checked + .toggle-slider:before {
  transform: translateX(20px);
}

.toggle-text {
  font-size: 12px;
  color: #333;
  margin-right: 5px;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.container-filters {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 5px;
}

#sort {
  margin-right: 5px;
  margin-bottom: 10px;
}

#sort2 {
  flex: 1;
  display: flex;
}

.sort-button {
  flex: 1;
  margin-right: 5px;
  width: 150px;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 80px;
  margin-left: 80px;
}

.pagination-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5px;
}

.pagination-button:hover {
  background-color: #ddd;
}

.pagination-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-button-icon {
  font-size: 18px;
  color: #333;
}
