<form>
  <div class="container">

    <div *ngIf="isAdminOrOrganizer" class="my-events-container">
      <p id="show-my-events-text">Моите събития</p>
      <div class="toggle-container">
        <label class="toggle-label">
          <input type="checkbox" class="toggle-input" [checked]="showOnlyMyEvents" (change)="filterEventsByUser()">
          <span class="toggle-slider"></span>
        </label>
      </div>
    </div>

    <div class="container-filters">
      <div class="dropdown sort-container" id="sort" #dropdown >
        <button class="btn btn-secondary dropdown-toggle" type="button" id="tagFilterDropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown(dropdown)">
          Тагове
        </button>
        <div class="dropdown-menu" aria-labelledby="tagFilterDropdown" [ngClass]="{ 'show': isDropdownOpen }">
          <a class="dropdown-item" href="#" (click)="toggleTagSelection(tag, $event)" *ngFor="let tag of availableTags">
            {{ tag }}
            <i class="nc-icon nc-check-2" *ngIf="isTagSelected(tag)"></i>
          </a>
        </div>
      </div>

      <div class="sort-container" id="sort2">
        <button class="btn btn-secondary sort-button" (click)="toggleSortByDate()">
          {{ isSortAscending ? 'Най-стари' : 'Най-нови' }}
        </button>
        <button class="btn btn-secondary sort-button" (click)="sortEventsByUpcoming()">
          {{ isUpcoming ? 'Всички' : 'Предстоящи' }}
        </button>
      </div>
    </div>


    <div class="input-group no-border">
      <input type="text" [(ngModel)]="searchString" (input)="searchEvents()" value="" class="form-control" placeholder="Търси...">
      <div class="input-group-append">
        <div class="input-group-text">
          <i class="nc-icon nc-zoom-split"></i>
        </div>
      </div>
    </div>
    <div id="add-new">
      <button class="btn btn-primary btn-block" type="submit" (click)="showModalFunction()"
              *ngIf="isAdminOrOrganizer">Добави</button>
    </div>
  </div>
</form>

<div class="event-container">
  <div *ngFor="let event of getPaginatedEvents()">
    <event-card [event]="event" (click)="redirectToEvent(event.id)"></event-card>
  </div>
</div>

<div class="pagination-container">
  <button (click)="previousPage()" [disabled]="isPreviousEnabled()" class="pagination-button">
    <i class="pagination-button-icon"> < </i>
  </button>
  <button (click)="nextPage()" [disabled]="isNextEnabled()" class="pagination-button">
    <i class="pagination-button-icon"> > </i>
  </button>
</div>



<div class="modal-wrapper">
  <add-event *ngIf="showModal" (closeModal)="hideModal()" (refresh)="onChildRefresh()" (openExtension)="openExtension()"></add-event>
</div>

