<div [ngClass]="{
  'modal-extension-add-event': caller === 'add-event',
  'modal-extension-edit-event': caller === 'edit-event'
}">
  <label id="title">Място</label>
  <div class="close-icon">
    <i class="nc-icon nc-simple-remove" (click)="close()"></i>
  </div>
  <form (ngSubmit)="save()">
    <div>
      <label for="name">Име:</label>
      <input type="text" id="name" name="name" [(ngModel)]="venue.name" required>
    </div>

    <div>
      <label for="name">Град:</label>
      <input type="text" name="name" [(ngModel)]="venue.city">
    </div>

    <div>
      <label for="name">Адрес:</label>
      <input type="text" name="name" [(ngModel)]="venue.address">
    </div>

    <div>
      <label for="name">Описание:</label>
      <textarea id="description" name="description" [(ngModel)]="venue.description"></textarea>
    </div>

    <div>
      <button class="btn btn-primary btn-block" type="submit">Запази</button>
    </div>
  </form>
</div>
